{% extends 'blog/base.html' %}
{% block content %}
<h1>Hello World</h1>
<div>
    {% for post in posts reversed %}
    <p>post_time:{{post.created_date}}</p>
    <h2><a href="/blog/{{post.id}}">{{post.title}}</a></h2>
    <p>{{post.text|linebreaks}}</p>
    {% endfor %}
</div>

<form action="/blog/add_record" method="post" accept-charset="utf-8">
{% csrf_token %}
    <table>
        {{post_form.as_table}}
    </table>
    <input type="submit" name="add_record" value="Submit">
</form>
{% endblock %}