{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class = "blog-header">
        <h1 class="blog-post-title">{{post.title}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <p>
                    {{post.text}}
                </p>
                <p class="blog-post-meta">{{post.created_date}} by <a href="#">{{post.author}}</a></p>
                <a href="/blog/">return first page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}