{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
    <!--<link rel="stylesheet" href="/static/css/blog.css">-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <h1>Hello World</h1>
    <div>
        {% for post in posts %}
        <p>post_time:{{post.created_date}}</p>
        <h2><a href="">{{post.title}}</a></h2>
        <p>{{post.text|linebreaks}}</p>
        {% endfor %}
    </div>

    <form action="/blog/add_record" method="post" accept-charset="utf-8">
    {% csrf_token %}
        <table>
            {{post_form.as_table}}
        </table>
        <input type="submit" name="add_record" value="Submit">
    </form>
</body>
</html>